.left {
  display: none;
}

.right {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tab_cont {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3px;
  padding: 37px 16px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 10px;
  font-weight: 400;
  color: #edf9fc;
  cursor: not-allowed;
  opacity: 0.5;
  transition: opacity 0.3s ease, font-size 0.3s ease;
}

.tab.active {
  opacity: 1;
  pointer-events: auto;
  font-size: 12px;
  cursor: pointer;
}

.tab p {
  padding: 6px 9px;
  border-radius: 3px;
  font-size: 12px;
  background-color: #fbff2b;
  color: #207dbb;
}

.tab_name {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;

    font-size: 24px;
    padding: 0;
  }

  .tab_cont {
    padding: 40px 125px 0 125px;
    justify-content: flex-start;
  }

  .tab {
    font-size: 14px;
  }

  .tab.active {
    font-size: 16px;
  }

  .tab p {
    padding: 8px 12px;
    font-size: 16px;
  }

  .tab_name {
    gap: 16px;
  }
}

@media screen and (min-width: 1125px) {
  .left {
    position: relative;
    max-width: 607px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 22px;
    background-color: #93cef533;
    /* width: 40%; */
    height: 120vh;
  }

  .left img {
    position: absolute;
    left: 0;
    right: 70%;
  }
}
